@media (max-width: 950px) {
    #main-isa .carrinho-de-compras {
        grid-template-columns: 1fr;;
    }

    .informacoes-produto {
        padding: 20px;
    }

    #main-isa .informacoes-pagamento {
        height: auto;
    }
}
    

@media (max-width: 480px) {
    #main-isa .cartoes {
        grid-template-columns: 1fr;;
    }

    #main-isa .cartoes div {
        display: flex;
        justify-content: center;
    }

    #main-isa .selecionar table {
        width: auto;
    }

}