@media (max-width: 950px) {
    #main-isa .carrinho-de-compras {
        grid-template-columns: 1fr;;
        overflow: auto;
    }

    .informacoes-produto {
        padding: 20px;
    }

    #main-isa .informacoes-pagamento {
        height: auto;
    }
}
    

@media (max-width: 480px) {
    #main-isa .cartoes {
        grid-template-columns: 1fr;;
    }

    #main-isa .cartoes div {
        display: flex;
        justify-content: center;
    }

    #main-isa .selecionar table {
        width: auto;
    }

}

@media (max-width: 880px) {
    .busca-devo{
        width: auto;
    }
}

@media (max-width: 580px){
    .pesquisa-busca{
        width: auto;
    }

    .botoes{
        display: block;
    }

    .tabela-textos{
        display: block;
        
    }
}

@media (max-width: 480px) {
    #formulariobaby input {
        width: 90%;
    }

    #coisinha{
        margin: 0px 0px 20px;
    }

    #botaozinho a,
    #botaozinho button {
        width: calc(100% - 50px);
    }
}
@media (max-width: 640px){

    header{
        display: block;
    }

    #quem-somos{
        display: block;
    }

    .botoes-pesquisa-produtos button{
        display: block;
    }
    
    #entregas-parcelamento{
        display: block;
    }

}
@media (max-width: 710px){
    .rodapeInicial-contatos{
        display: block;
    }

}

@media (min-width: 2560px) {
    #lancamentos {
        height: 926px;
    }

    #promocoes{
        height: 1350px;
    }
}

@media (max-width: 1440px) {
    #lancamentos {
        height: 523px;
    }

    #promocoes{
        height: 750px;
    }
}

@media (max-width: 1024px) {
    #lancamentos {
        height: 374px;
    }

    #promocoes{
        height: 531px;
    }
}

@media (max-width: 768px) {
    #lancamentos {
        height: 284px;
    }

    #promocoes{
        height: 408px;
    }
}

@media (max-width: 426px) {
    #lancamentos {
        height: 159px;
    }

    #promocoes{
        height: 221px;
    }

    .quem-somosText {
        margin: 10px;
    }

    .devolucao-carrinho {
        justify-content:left;
        margin: 10px 0px;
    }
}

@media (max-width: 376px) {
    #lancamentos {
        height: 141px;
    }

    #promocoes{
        height: 195px;
    }

    .devolucao-carrinho {
        justify-content:left;
        margin: 10px 0px;
    }
}

@media (max-width: 321px) {
    #lancamentos {
        height: 121px;
    }

    #promocoes{
        height: 165px;

    }

    .devolucao-carrinho {
        justify-content:left;
        margin: 10px 0px;
    }

    .quem-somosImg img {
        width: 100%;
    }
}

