:root {
    --cor--cabeçalhorodape: #5DC460;
    --cor--corpo: #A3E89C;
    --cor--preto: black;
    --cor--branco: white;
    --cor--cinza: #d4cece;
}

*{
    margin: 0px;
    padding: 0px;
}

/*  */
/* inicio do css do intex */
#header {
    background-color: var(--cor--cabeçalhorodape);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#header nav a {
    text-decoration: none;
    color: var(--cor--preto);
    font-size: 20px;
}

/* main do index */
.quem-somosText {
    width: 50%;
    position: absolute;
    top: 130px;
    left: 370px;
}


#pesquisa-produtos {
    background-color: var(--cor--corpo);
}

.botoes-pesquisa-produtos button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 90px 15px 90px;
    font-size: 20px;
}

.botoes-pesquisa-produtos button:hover {
    cursor: pointer;
    background-color: var(--cor--cinza);

}

/* Registra-se */
main .registro{
    text-align: center;
}

main #form-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 15px;
}

main #form-formulario input{
    border-radius: 10px;
    border: 1px solid;
    width: 290px;
    padding: 8px;
    display: block;
}

main #form-formulario .form-buttom-cad button{
    border-radius: 10px;
    border: 1px;
    background-color: var(--cor--corpo);
    width: 310px;
    padding: 6px;
    cursor: pointer;
}

main .form-buttom-pos button{
    border-radius: 10px;
    border: 1px;
    background-color: var(--cor--corpo);
    width: 150px;
    padding: 6px;
    cursor: pointer;
}

#formulariobaby input{
    border-radius: 10px;
    padding: 5px;
    width: 360px;
    justify-content: center;
}

#formulariobaby label {
    display: block;
    margin-right: 300px;
}

#mainte{
    text-align: center;
    margin: 60px 0px;

}

#botaozinho {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#botaozinho  button{
    padding: 5px;
    border-radius: 20px;
    width: 360px;
    background-color: #A3E89C;
    margin: 20px;

}

#coisinha{
    margin: 20px;
}