*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color:#71C969;
}

nav{
    text-align: right;
}

main{
    text-align: center;
}

#botao{
  border-radius: 30px;
}

#botao2{
    border-radius: 30px;
}


form{
    border-radius: 30px;
}

