:root {
    --cor--cabeçalhorodape: #5DC460;
    --cor--corpo: #A3E89C;
    --cor--preto: black;
    --cor--branco: white;
    --cor--cinza: #d4cece;
}

*{
    margin: 0px;
    padding: 0px;
}

/*  */
/* inicio do css do intex */
#header {
    background-color: var(--cor--cabeçalhorodape);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#header nav a {
    text-decoration: none;
    color: var(--cor--preto);
    font-size: 20px;
}

/* main do index */
.quem-somosText {
    width: 50%;
    position: absolute;
    top: 130px;
    left: 370px;
}


#pesquisa-produtos {
    background-color: var(--cor--corpo);
}

.botoes-pesquisa-produtos button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 90px 15px 90px;
    font-size: 20px;
}

.botoes-pesquisa-produtos button:hover {
    cursor: pointer;
    background-color: var(--cor--cinza);
}

#main-isa .cima-carrinho{
    text-align: left;
    margin: 10px;
}

#main-isa .shampoo{
    display: grid;
    grid-template-columns: 1fr 7fr;
}

#main-isa .carrinho-de-compras{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#main-isa .informacoes-pagamento{
    background-color: var(--cor--corpo);
    width: 100%;
    height: 100vh;
}

#main-isa .barra-preta{
    width: 450px;
    height: 0px;
    left: 29px;
    top: 520px;
    border: 1px solid green;
}

#main-isa .selecionar{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#main-isa .quantidade{
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
}

#main-isa .button-quantidade{
    border: none;
    height: 15px;
    background-color: transparent;
}

#main-isa .cartoes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* padding: 20px; */
}

#main-isa .numero-do-cartao input{
    padding-left: 20px;
    border: none;
    outline: none;
    background-color: transparent;
}

#main-isa .informacoes-cartao{
    padding-left: 10px;
}

#main-isa .subtotal{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
}

#main-isa .frete{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
}

#main-isa .total{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
    font-size: 20px;
}

#main-isa .button-div{
    text-align: center;
    padding: 20px;
}

#main-isa .button-pagar{
    background-color: #5DC460;
    border: none;
    border-radius: 15px;
    color: white;
    height: 30px;
    width: 170px;
}